<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.overz.overapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OverApplication">
        <activity android:name=".ResultBackActivity"></activity>
        <activity android:name=".DeliverActivity" />
        <activity android:name=".ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="Second Activity">
            <intent-filter>

                <!-- Action中的name要相同，才会指定匹配相应 -->
                <action android:name="com.overz.overapplication.ACTION_happy" />
                <!-- category中的默认name -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 新增的category -->
                <category android:name="com.overzapplication.Happy_Category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="First Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>